.container {
  padding: 48px;
  font-family: Helvetica;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  max-width: 480px;
  min-height: 85vh;
}

.textContainerRight {
  max-width: 480px;
  min-height: 90vh;
  text-align: right;
}

.base { 
  font-family: Helvetica;
  line-height: 140%;
  margin-bottom: 4px;
}

.baseBio { 
  font-family: Helvetica;
  line-height: 140%;
  margin-bottom: 8px;
}

.secondary { 
  font-family: Helvetica;
  line-height: 140%;
  color: #00000080;
  margin-bottom: 4px;
}

.header {
  font-family: Helvetica;
  margin-bottom: 40px;
}

.textLink {
  transition: all 300ms ease-in-out;
}

.textLink:hover {
  cursor: ne-resize;
  border-bottom: 1.5px solid #00000050;
  color: #0984E3;
}

.strikethruLink {
  text-decoration: line-through;
  transition: all 300ms ease-in-out;
}

.strikethruLink:hover {
  cursor: ne-resize;
  border-bottom: 1.5px solid #00000050;
  color: #0984E3;
}

.strikethru {
  text-decoration: line-through;
}


.link:hover {
  cursor: ne-resize;
}


@media (max-width: 948px) {
  .container {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .textContainer {
    min-height: 100%;
    margin-bottom: 24px;
  }

  .leftContainer {
    margin-bottom: 24px;
  }

  .secondary {
    margin-bottom: 8px;
  }

  .textContainerRight {
    text-align: left;
  }
}